extends user_layout

block content
    br
    div.row
        div.col-sm-12.col-md-12.col-lg-6.col-xl-6.offset-xl-3.offset-lg-3.mt-5.sign-in-container
            .jumbotron
                div.user-sign-in 
                    div.row
                        .col-md-6.col-lg-6.offset-md-3.offset-lg-3.text-center 
                            img(src='/images/logo.PNG' width='80' alt='')
                    hr
                    div.row
                        div.col-md-10.col-lg-10.mt-2.offset-md-1.offset-lg-1
                            h3.text-center Password reset link sent successfully
                            p.lead If the link is not received, please check your spam folder.