extends user_layout

block content
    br
    div.row
        div.col-sm-12.col-md-12.col-lg-6.col-xl-6.offset-xl-3.offset-lg-3.mt-5.sign-in-container
            .jumbotron
                div.user-sign-in 
                    div.row
                        .col-md-6.col-lg-6.offset-md-3.offset-lg-3.text-center 
                            img(src='/images/logo.PNG' width='80' alt='')
                    hr
                    if errors
                        each error, i in errors
                            div(class="alert alert-danger") #{error.msg}
                    div.row
                        div.col-md-10.col-lg-10.mt-2.offset-md-1.offset-lg-1
                            h3.text-center Reset password
                            p.lead Tell us your email address and we will email a reset link shortly.
                    div.row
                        div.col-md-10.col-lg-10.mt-2.offset-md-1.offset-lg-1
                            != messages('message', locals)
                    form(method='POST', action=`${server_url}/users/forgot_password`)
                        #form-group 
                            label Email Address
                            input.form-control(name='emailAddress', type='email' value=emailAddress placeholder='Enter your email address' required)
                        br
                        input.btn.btn-primary.btn-block(type='submit',value='Submit')