doctype html
html
  head
    title Uzophila
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/fontawesome/css/all.css')
    link(rel='stylesheet' href='/bootstrap/css/login.css')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.1/jquery-ui.js' integrity='sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=' crossorigin='anonymous')
  body
    .container
        block content
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/main.js')